.dashboard {
  padding: 40px;
  text-align: center;
  color: white;
  background: linear-gradient(135deg,#89f7fe, #66a6ff, #89f7fe);
}

.dashboard-title {
  margin-top: 60px;
  font-size: 32px;
  margin-bottom: 40px;
}

/* SAME GRID */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* SAME CARD */
.dashboard-card {
  padding: 30px;
  border-radius: 15px;

  background: linear-gradient(135deg,skyblue, white);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.4);

  transition: 0.3s;
  cursor: pointer;
  color : black;
  border : 0.5px solid black;
}

.dashboard-card:hover {
  transform: translateY(-5px) scale(1.03);
}

.dashboard-card:active {
  transform: scale(0.95);
}

.dashboard-card h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.dashboard-card p {
  opacity: 0.9;
}
/* 🔥 Container */
.notes-container {
  min-height: 100vh;
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  font-family: "Poppins", sans-serif;
}

/* 🔥 Title */
.notes-title {
  font-size: 36px;
  color: white;
  margin-bottom: 40px;
}

/* 🔥 Grid Layout */
.notes-grid {
  width: 100%;
  max-width: 1000px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}