.splash-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
}

.logo-img {
  width: 600px;
  animation: zoomRotate 2s ease-in-out infinite alternate;
  filter: drop-shadow(0 0 20px cyan);
}
<<<<<<< HEAD
=======

.loading-text {
  color: white;
  margin-top: 20px;
  font-size: 18px;
  animation: blink 1s infinite;
}
>>>>>>> 5dc8a11 (add new feature in chat bot history store)
