.splash-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
}

.logo-img {
  width: 600px;
  animation: zoomRotate 2s ease-in-out infinite alternate;
  filter: drop-shadow(0 0 20px cyan);
}

@keyframes zoomRotate {
  0% {
    transform: scale(0.8) rotate(-10deg);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.1) rotate(10deg);
    opacity: 1;
  }
}
.loading-text {
  color: white;
  margin-top: 20px;
  font-size: 18px;
  animation: blink 1s infinite;
}
@keyframes logoAnim {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blink {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

/* Animation */
@keyframes zoomIn {
  0% {
    transform: scale(0.5) rotate(-20deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}