.splash-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
}

.logo-img {
  width: 600px;
  animation: zoomRotate 2s ease-in-out infinite alternate;
  filter: drop-shadow(0 0 20px cyan);
}
