.hero {
  min-height: calc(100vh - 90px);

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 180px 20px 80px;

  position: relative;
}

.hero-content {
  max-width: 950px;

  width: 100%;
}

/* Badge */

.hero-badge {
  display: inline-block;

  padding: 12px 25px;

  border-radius: 50px;

  background: rgba(255,255,255,0.15);

  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.15);

  color: white;

  font-size: 16px;
  font-weight: 600;

  margin-bottom: 40px;
}

/* Heading */

.hero h1 {
  font-size: 5rem;

  color: white;

  font-weight: 800;

  line-height: 1.1;

  margin-bottom: 25px;
}

.hero h1 span {
  color: #6c63ff;

  text-shadow:
    0 0 20px rgba(108,99,255,.4),
    0 0 40px rgba(108,99,255,.2);
}

/* Description */

.hero p {
  max-width: 850px;

  margin: auto;

  color: rgba(255,255,255,0.92);

  font-size: 1.35rem;

  line-height: 1.8;
}

/* Features */

.hero-features {
  margin-top: 40px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 15px;
}

.hero-features div {
  padding: 14px 22px;

  border-radius: 16px;

  background: rgba(255,255,255,0.12);

  backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,0.15);

  color: white;

  font-weight: 500;

  transition: .3s;
}

.hero-features div:hover {
  transform: translateY(-3px);
}

/* Buttons */

.buttons {
  margin-top: 45px;

  display: flex;
  justify-content: center;

  gap: 20px;

  flex-wrap: wrap;
}

.primary-btn,
.secondary-btn {
  border: none;

  padding: 16px 30px;

  border-radius: 16px;

  cursor: pointer;

  font-size: 17px;

  font-weight: 700;

  transition: .3s;
}

.primary-btn {
  background: linear-gradient(
    135deg,
    #6c63ff,
    #00d4b8
  );

  color: white;

  box-shadow:
    0 10px 25px rgba(108,99,255,.3);
}

.secondary-btn {
  background: rgba(255,255,255,0.15);

  backdrop-filter: blur(15px);

  border: 1px solid rgba(255,255,255,0.15);

  color: white;
}

.primary-btn:hover,
.secondary-btn:hover {
  transform: translateY(-4px);
}

/* Stats */

.hero-stats {
  margin-top: 60px;

  display: flex;
  justify-content: center;

  gap: 80px;

  flex-wrap: wrap;
}

.hero-stats h3 {
  color: white;

  font-size: 2.3rem;

  margin-bottom: 5px;
}

.hero-stats span {
  color: rgba(255,255,255,0.8);

  font-size: 1rem;
}

/* Remove white line issue */

body,
html,
#root {
  min-height: 100%;
  overflow-x: hidden;
}

/* Mobile */

@media (max-width: 768px) {
  .hero {
    padding-top: 150px;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-stats {
    gap: 35px;
  }

  .hero-stats h3 {
    font-size: 1.6rem;
  }
}