.hero {
  min-height: calc(100vh - 90px);

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 100px 20px 30px;
}

.hero-content {
  max-width: 850px;
}

/* Badge */

.hero-badge {
  display: inline-block;

  padding: 10px 22px;

  border-radius: 50px;

  background: rgba(255,255,255,0.15);

  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.2);

  color: white;

  font-size: 15px;
  font-weight: 600;

  margin-bottom: 20px;
}

/* Heading */

.hero h1 {
  font-size: 4rem;

  color: white;

  font-weight: 800;

  line-height: 1.15;

  margin-bottom: 20px;
}

.hero h1 span {
  background: linear-gradient(
    #6c63ff
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  filter: drop-shadow(
    0 0 12px rgba(108,99,255,0.4)
  );
}

/* Description */

.hero p {
  max-width: 750px;

  margin: auto;

  color: rgba(255,255,255,0.92);

  font-size: 1.15rem;

  line-height: 1.7;
}

/* Feature Pills */

.hero-features {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 12px;
}

.hero-features div {
  padding: 12px 18px;

  border-radius: 15px;

  background: rgba(255,255,255,0.12);

  border: 1px solid rgba(255,255,255,0.15);

  backdrop-filter: blur(10px);

  color: white;

  font-size: 15px;
  font-weight: 500;

  transition: 0.3s;
}

.hero-features div:hover {
  transform: translateY(-3px);
}

/* Buttons */

.buttons {
  margin-top: 35px;

  display: flex;
  justify-content: center;

  gap: 18px;

  flex-wrap: wrap;
}

.primary-btn,
.secondary-btn {
  border: none;

  padding: 15px 28px;

  border-radius: 15px;

  cursor: pointer;

  font-size: 16px;
  font-weight: 700;

  transition: 0.3s;
}

.primary-btn {
  background: linear-gradient(
    135deg,
    #6c63ff,
    #00d4b8
  );

  color: white;

  box-shadow: 0 10px 25px
    rgba(108,99,255,0.25);
}

.secondary-btn {
  background: rgba(255,255,255,0.15);

  backdrop-filter: blur(15px);

  border: 1px solid rgba(255,255,255,0.15);

  color: white;
}

.primary-btn:hover,
.secondary-btn:hover {
  transform: translateY(-3px);
}

/* Stats */

.hero-stats {
  margin-top: 40px;

  display: flex;
  justify-content: center;

  gap: 60px;
}

.hero-stats h3 {
  color: white;

  font-size: 2rem;

  margin-bottom: 5px;
}

.hero-stats span {
  color: rgba(255,255,255,0.8);
}

/* Mobile */

@media (max-width: 768px) {
  .hero {
    padding-top: 110px;
  }

  .hero h1 {
    font-size: 2.7rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-stats {
    gap: 25px;
  }

  .hero-stats h3 {
    font-size: 1.5rem;
  }
}