.login-page {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    150deg,
    white,
    #89f7fe,
    #66a6ff,
    skyblue,
    #66a6ff,
    #89f7fe,
    white
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Top heading */
.welcome {
  position: absolute;
  top: 30px;
  color: white;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0 0 5px blue;
  -webkit-text-stroke: 0.2px blue;
}

.login-form {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 400px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  box-shadow: 0 20px 20px blue;
}

/* Inputs */
.login-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

/* Button */
.login-form button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #5f6bdc;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  background: #4a54c9;
}
