body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  background: linear-gradient(
    150deg,
    #e0f7fa,
    #89f7fe,
    #66a6ff,
    #89f7fe,
    #e0f7fa
  );
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}